.idea/*
Source/__pycache__/*
Source/tfdata/__pycache__/*
Source/tfgen/__pycache__/*
datasets/*
*.tfrec
*.index
*.png
cache*
assetfiles/*
test_code
test_code/*
savedmodels
savedmodels/*
logs
logs/*
savedweights
savedweights/*
*.txt
